/* elementos bloqueados */

.pagination>li>a,.pagination>li>span {
    background-color: white;
    color: black;
}


/* Colore al poner el mouse encima */

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: white;
    background-color: var(--azul-base);
    border-color: var(--azul-base);
}


/* elemento seleccionado */

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    color: white;
    background-color: var(--azul-base);
    border-color: var(--azul-base);
}