<nav class="mb-0">
    <div class="btn-toolbar"
        [ngClass]="{'justify-content-between': verNumeros,
                    'justify-content-end'    : !verNumeros}"
        style="height: 40px;" role="toolbar">
        <div class="justify-content-start" *ngIf="verNumeros">
            <div class="bg-transparent mt-2" style="font-size: 120%;height: 25px;">
                {{inicio}} al {{fin}} de {{paginador.totalElements}} registros
            </div>
        </div>
        <ul *ngIf="paginas?.length > 0" class="pagination justify-content-end">
            <li class="page-item" [ngClass]="!habilitado || paginador.first?'disabled':''">
                <a [routerLink]="['/'+enlacePaginador+'/', paginador.number-1]" [queryParams]="queryParams" class="page-link">&laquo;</a>
            </li>
    
            <li class="page-item" [ngClass]="!habilitado || paginador.first?'disabled':''">
                <a [routerLink]="['/'+enlacePaginador+'/', 0]" [queryParams]="queryParams" class="page-link">Primera</a>
            </li>
    
            <li *ngFor="let pagina of paginas" class="page-item" [ngClass]="{'active': pagina-1 == paginador.number, 'inactive': !habilitado && pagina-1 != paginador.number}">
                <span *ngIf="!habilitado || pagina-1 == paginador.number" class="page-link">{{ pagina }}</span>
                <a *ngIf="habilitado && pagina-1 != paginador.number" [routerLink]="['/'+enlacePaginador+'/', pagina-1]" [queryParams]="queryParams" class="page-link">{{ pagina }}</a>
            </li>
            
    
            <li class="page-item" [ngClass]="!habilitado || paginador.last?'disabled':''">
                <a [routerLink]="['/'+enlacePaginador+'/', paginador.totalPages-1]" [queryParams]="queryParams" class="page-link">Última</a>
            </li>
            
            <li class="page-item" [ngClass]="!habilitado || paginador.last?'disabled':''">
                <a [routerLink]="['/'+enlacePaginador+'/', paginador.number+1]" [queryParams]="queryParams" class="page-link">&raquo;</a>
            </li>
        </ul>
    </div>
</nav>