<div class="container-fluid">
    <div class="row mt-2 mb-3">
        
        <div class="col-2">
            <div class="row">
                <label class="col-4 col-form-label">Area:</label>
                <div class="col-8 col-xxl-6">
                    <input type="text" class="form-control text-uppercase"
                        [(ngModel)]="areaFiltro" (keyup) = "filtrar()"
                        style="height: 30px;" [disabled]="!eventoSearchArea">
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="row">
                <label class="col-4 col-form-label">Nombre:</label>
                <div class="col-8 col-xxl-6">
                    <input type="text" class="form-control text-uppercase"
                        [(ngModel)]="nombreFiltro" (keyup) = "filtrar()"
                        style="height: 30px;" [disabled]="!eventoSearchNombre">
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="row">
                <label class="col-4 col-form-label">Estado:</label>
                <div class="col-8">
                    <select [compareWith]="compararObjeto" class="form-select pt-1" 
                        [(ngModel)]="estadoFiltro" (change) = "filtrar()" [disabled]="!eventoSearchArea">
                        <option [ngValue]="undefined">Todas</option>
                        <option *ngFor="let est of estados" [ngValue]="est">{{ est.nombre }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="float-end">
                <button type="button" class="btn custom-button me-1" style="width: 100px !important;"
                    [disabled]="!eventoNuevo || blnGuardandoDatos"
                    (click)="nuevo()">Nuevo</button>
                <button type="button" class="btn custom-button me-1" style="width: 100px !important;"
                    [disabled]="!eventoGuardar || blnGuardandoDatos"
                    (click)="cancelar()">Cancelar</button>
                <button type="button" class="btn custom-button me-1" style="width: 100px !important;" 
                    [disabled]="!eventoModificar || blnGuardandoDatos"
                    (click)="modificar()">Modificar</button>
                <button type="button" class="btn custom-button me-1" style="width: 100px !important;"
                    [disabled]="!eventoGuardar || blnGuardandoDatos"
                    (click)="guardar()">Guardar</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="table-responsive" style="min-height: 75vh; max-height: 75vh;">
                <table class="custom-table-maestros table table-bordered table-hover">
                    <thead>
                        <tr style="user-select: none;">
                            <th class="align-middle text-center" style="width: 3%;">Nro</th>
                            <th class="align-middle text-center" style="width: 17%;">Area</th>
                            <th class="align-middle text-center" style="width: 15%;">Nombre</th>
                            <th class="align-middle text-center" style="width: 10%;">Abreviatura</th>
                            <th class="align-middle text-center">Observación</th>
                            <th class="align-middle text-center" style="width: 10%;">Estado</th>
                        </tr>
                    </thead>
                    <tbody style="cursor: default;">
                        <tr *ngFor="let sub of subareas; let i = index;" (click)="verSubarea(sub, i)"
                        [ngClass]="{'table-active': i===editableTable1}">
                            <td>{{ sub.nro }}</td>
                            <!-- <td>
                                <input type="text" [disabled]="i!=validarFila" class="border-0 text-uppercase bg-transparent"
                                    style="width: 100%;outline: none;" *ngIf="sub.area" [(ngModel)]="sub.area.nombre">
                            </td> -->
                            
                            <td>
                                <input type="text" class="border-0 text-uppercase bg-transparent"
                                    (keyup)="cambiarValorArea($event)"
                                    [disabled]="i!=validarFila"
                                    matInput [matAutocomplete]="autoA"
                                    [(ngModel)]="sub.area"
                                    style="width: 100%;height: 20px;outline: none;"
                                    autocomplete="autoA">
                                <mat-autocomplete #autoA="matAutocomplete" [displayWith]="mostrarArea">
                                    <mat-option style="height: 22px;font-size: 0.75rem"
                                        *ngFor="let est of areaF | async" [value]="est">
                                        {{est.nombre}}
                                    </mat-option>
                                </mat-autocomplete>
                            </td>

                            <td>
                                <input type="text" [disabled]="i!=validarFila" class="border-0 text-uppercase bg-transparent"
                                    style="width: 100%;outline: none;" [(ngModel)]="sub.nombre" maxlength="50">
                            </td>
                            <td>
                                <input type="text" [disabled]="i!=validarFila" class="border-0 text-uppercase bg-transparent"
                                    style="width: 100%;outline: none;" [(ngModel)]="sub.abreviatura" maxlength="6">
                            </td>
                            <td>
                                <input type="text" [disabled]="i!=validarFila" class="border-0 text-uppercase bg-transparent"
                                    style="width: 100%;outline: none;" [(ngModel)]="sub.observacion" maxlength="80">
                            </td>
                            <!-- <td>
                                <input type="text" [disabled]="i!=validarFila" class="border-0 text-uppercase bg-transparent"
                                    style="width: 100%;outline: none;" [(ngModel)]="sub.estado.nombre">
                            </td> -->
                            <td>
                                <input type="text" class="border-0 text-uppercase bg-transparent"
                                    (keyup)="cambiarValorEstado($event)"
                                    [disabled]="i!=validarFila"
                                    matInput [matAutocomplete]="autoF"
                                    [(ngModel)]="sub.estado"
                                    style="width: 100%;height: 20px;outline: none;"
                                    autocomplete="autoF">
                                <mat-autocomplete #autoF="matAutocomplete" [displayWith]="mostrarEstado">
                                    <mat-option style="height: 22px;font-size: 0.75rem"
                                        *ngFor="let est of estadoF | async" [value]="est">
                                        {{est.nombre}}
                                    </mat-option>
                                </mat-autocomplete>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-12">
            <paginator-nav *ngIf="paginador" [enlacePaginador]="rutaPaginador" [paginador]="paginador" [habilitado]="!blnGuardandoDatos && eventoNuevo" [verNumeros]="true"  (filtro)="filtrar($event)"></paginator-nav>
        </div>
    </div>
</div>
